@import "tailwindcss";

@theme {
  --color-neon-blue: #00C7F2;
  --color-deep-dark: #000000;
  --color-teal-bg: #00C7F2;
  --font-sans: var(--font-inter);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}